<html>
	<head>
		<title>MODIFIER</title>
		<link rel="stylesheet" type="text/css" href="/style">
    <link rel="stylesheet" type="text/css" href="/style/app">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>

    <div class="server_div grey panel" id="server_div">
      <a href="#"><img src="/img/gear.png" id="server_settings_img" class="settings_img"></a><!-- https://pixabay.com/fr/vectors/gear-param%C3%A8tres-options-ic%C3%B4ne-1077550/ -->
    </div>

    <div class="chanel_list grey panel" id="chanels_list">
      <a href="/app/chanels_admin"><img src="/img/gear.png" id="chanel_settings_img" class="settings_img"></a>

			<!-- Liste des chanels -->
			<!-- Div copiée par le JS pour ajouter un serveur -->
			<div class="chanel" style="display: none;">
				<h5 class="chanel_name">Channel name</h5>
				<img src="/img/keyboard.png" class="text_chanel_image">
				<input type="hidden" value="" class="chanel_description"></input><!-- Les trois inputs cachés stockent la description, le créateur du chanel et la position du chanel dans la liste -->
				<input type="hidden" value="" class="owner_id"></input>
				<input type="hidden" value="" class="owner_name"></input>
				<input type="hidden" value="" class="position"></input>
			</div>

    </div>

    <div class="chanel_infos grey panel" id="chanel_infos">
    </div>

    <div class="central_div" align="right" id="central_div">

			<!-- Div copiée par le JS pour ajouter un message -->
			<div class="message" style="display: none;">
				<p class="message_sender_pseudo" align="left"></p>
				<p class="message_text" align="left"></p>
			</div>

			<div class="message">
				<p class="message_sender_pseudo" align="left">Système</p>
				<p class="message_text" align="left">Bienvenue ! Cliquez sur un chanel pour commencer...</p>
			</div>

    </div>

		<div class="input_message" id="input_message">
			<input type="text" class="stylized_input" minlength="1" maxlength="2000" id="message_text_input"></input>
		</div>

    <div class="online_list grey panel" id="online_list">
    </div>

    <div class="user_area grey panel" id="user_area">
      <h3 id="username"><%= pseudo %></h3>
    </div>

    <div class="extend_chanels_panel panel" id="extend_chanels_panel">
      <img src="/img/animation_arrow.png" class="animation_arrow"><!-- https://pixabay.com/fr/illustrations/fl%C3%A8che-r%C3%A9pertoire-panneaux-2085195/ -->
    </div>

    <div class="extend_online_panel panel" id="extend_online_panel">
      <img src="/img/animation_arrow.png" class="animation_arrow">
    </div>

		<script src="/socket.io/socket.io.js"></script><!--J'importe le script néccésaire au fonctionnement de socket.io -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="/js/chanels_list"></script><!-- Permet de gérer la liste des chanels, socket y est définit -->
		<script src="/js/messages"></script><!-- Permet de gérer les messages -->
		<script type="text/javascript">

			create_chanel_list();//Affiche la liste des chanels depuis la BDD


			const div_chanels_panel = document.querySelector('#extend_chanels_panel');//Carrés avec les flèches, un click dessus permet de lancer l'animation
			const div_online_panel = document.querySelector('#extend_online_panel');

			var chanels_extended = false;
			var online_extended = false;

			div_chanels_panel.addEventListener('click', event => {

				if(online_extended){//Si le panel de droite est ouvert, je le referme
					$('#online_list').animate({"left":"100%"}, 2000);
					$('#extend_online_panel').animate({"left":"90%", "right":"0%"}, 2000);
					online_extended = false;
				}

				if(chanels_extended){//Fermeture du panel de gauche
					$('#server_div, #chanels_list, #user_area').animate({"right":"100%"}, 2000);
					$('#extend_chanels_panel').animate({"right":"90%", "left":"0%"}, 2000);
					$('#chanel_infos').animate({"bottom":"90%"}, 2000);
					chanels_extended = false;
				}else{//Ouverture du panel de gauche
					$('#server_div, #chanels_list, #user_area').animate({"right":"20%"}, 2000);
					$('#extend_chanels_panel').animate({"right":"10%", "left":"80%"}, 2000);
					$('#chanel_infos').animate({"bottom":"100%"}, 2000);
					chanels_extended = true;
				}
			});

			div_online_panel.addEventListener('click', event => {

  			if(chanels_extended){//Si le panel de gauche est ouvert, je le referme
					$('#server_div, #chanels_list, #user_area').animate({"right":"100%"}, 2000);//animate(Dico des propriétés CSS à changer, durée en ms)
					$('#extend_chanels_panel').animate({"right":"90%", "left":"0%"}, 2000);
					chanels_extended = false;
				}

				if(online_extended){//Fermeture du panel de droite
					$('#online_list').animate({"left":"100%"}, 2000);
					$('#extend_online_panel').animate({"left":"90%", "right":"0%"}, 2000);
					$('#chanel_infos').animate({"bottom":"90%"}, 2000);
					online_extended = false;
				}else{//Ouverture du panel de droite
					$('#online_list').animate({"left":"20%"}, 2000);
					$('#extend_online_panel').animate({"left":"10%", "right":"80%"}, 2000);
					$('#chanel_infos').animate({"bottom":"100%"}, 2000);
					online_extended = true;
				}

			});

			//Gestion du changement de chanel
			$("#chanels_list").on('click', '.chanel', function(){
				changer_de_chanel($(this).attr("id").split("_")[1]);
			});


			//Gestion de l'écriture d'un message
			$("#message_text_input").keypress((key) => {
				if( key.which == 13 ){
					//send_message($("#message_text_input").val());
  			}
			});


		</script>

	</body>
</html>
