<html>
	<head>
		<title>MODIFIER</title>
		<link rel="stylesheet" type="text/css" href="/style">
    <link rel="stylesheet" type="text/css" href="/style/app/chanels_admin">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>
    <div id="central_div">
    </div>
	</body>
</html>
