<html>
	<head>
		<title>MODIFIER</title>
		<link rel="stylesheet" type="text/css" href="/style">
    <link rel="stylesheet" type="text/css" href="/style/login">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>
    <div id="central_div">
      <h1>Inscription</h1>
      <form method="post" action="/register/post">
          <input type="text" name="pseudo" placeholder="Pseudo" required="required"/>
          <input type="email" name="email" placeholder="Adresse Email" required="required"/>
          <input type="password" name="password" placeholder="Mot de passe" required="required"/>
          <input type="password" name="password_confirm" placeholder="Confirmez votre mot de passe" required="required"/>
					<button type="submit">Créer mon compte</button>
      </form>
    </div>
	</body>
</html>
